.reviews {
  padding-block: 40px;
}

.reviews h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  text-align: center;
}

.reviews p {
  font-family: "space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  margin-top: 10px;
}

.review-img-container {
  padding-block: 20px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.review-company {
  flex-direction: column;
  gap: 10px;
}
.review-company-img-1 {
  width: 3vw;
}

.review-company-img {
  width: 10vw;
}

.star-img {
  width: 10vw;
}

.review-container {
  width: 70vw;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  margin: 50px auto;
  align-items: center;
  gap: 10px;
}

.review-container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.person {
  letter-spacing: 1px;
}
.job {
  color: rgb(48, 181, 233);
}
.icon {
  margin: 10px;
  color: rgb(48, 181, 233);
  cursor: pointer;
}
